<div class="gif_wrapper">
  <div class="gif-box col-md-3 col-sm-4 col-xs-6">
    <img src="<%= gif.url %>" id="gif_<%= gif.id %>" class="gif img-responsive" data-toggle="modal" data-target="#gif_modal_<%= gif.id %>" alt="gif"/>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="gif_modal_<%= gif.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="<%= gif.url %>" id="gif_<%= gif.id %>" class="gif img-responsive" data-toggle="modal" data-target="#gif_modal_<%= gif.id %>" alt="gif"/>
        <p><%=  gif.url %></p>
        <p>Posted at <%= gif.created_at.strftime("%I:%M%p") %> on <%= gif.created_at.to_date.to_s %></p> <%=  %>
        <p>By <%= link_to gif.user.username, user_path(id: gif.user.id), remote:true %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
